/* Esta es la hoja de estilos para el portfolio */

body {
    background-color: black;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
    width: 90%;
    background-color: white;
    margin: auto;
}


/* estilo de header */

header {
    position: relative;
    /* height:600px aqui no hace falta. La imagen dimensiona el contenedor;*/
}

header img {
    width: 100%;
    /* equivalente a un cover si fuera img de fondo */
    height: auto;
}

#title {
    position: absolute;
    background-color: rgba(102, 83, 83, 0.884);
    color: white;
    font-size: 4vw;
    text-align: center;
    /* estas 4 lineas son para centrar bloque con position:absolute */
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 6.5vw;
    /* con position:relative, puedo controlar el top */
    /* el alto en px no es un problema */
    width: 50%;
    padding: 2.5vw;
    /* un número de pixeles pequeño no tiene porque ser un problema */
    border: 4px solid white;
    outline: 4px solid rgb(102, 83, 83);
}


/* Estilo de la barra de navegación */

nav {
    font-size: 2vw;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: orangered;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

nav ul li a.active {
    background-color: rgb(253, 120, 71);
    padding: 15px;
}


/* Estilo de footer */

footer {
    background-color: rgb(128, 127, 127);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


/* Este código de estilo lo he trabajado en w3schools */

main {
    background-color: white;
}

main h2 {
    text-align: center;
    font-size: 5vw;
}

div.polaroid {
    float: left;
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(92, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5%;
    border-radius: 5%;
    cursor: pointer;
}

div.polaroid img {
    width: 92%;
    /* si quiero poner un margen externo lo */
    margin: 4%;
}


/* descuento del 100% */

div.polaroid:hover {
    opacity: 0.5;
    /* border:1px solid black; */
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

#fin-float {
    clear: both;
}

iframe {
    display: block;
    margin: 30px auto;
}

h1 {
    color: blue;
}

i {
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (max-width:500px) {
    div.polaroid {
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    header img/* cambiar la imagen por otra para que se adapte a móviles */
}