#lorem {
  background-color: rgba(241, 245, 21, 0.863);
  font-family: 'Roboto Slab', monospace;
  border: 3px solid black;
  border-radius: 40px 60px;
  padding: 30px;
  margin: 35px 0;
}

.titulo, .autor {
  color: red; 
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 100px auto;
}

.primario, .secundario {
  color: blue;
  text-align: justify;
  margin-top: 100px auto;
}