body {
  font-family: "Great Vibes, cursive";
  font-size: 100%;
  background-image: url("img/swallows.webp");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 300px;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  margin: 50px auto auto auto; /* Top | Right | Bottom | Left */
  padding: 20px; /* Top, right, bottom and left */
  border-radius: 30px 25px;
  box-shadow: black 3px 3px 3px;
  text-align: center;
}