body {
  font-family: "Great Vibes, cursive";
  font-size: 100%;
  background-image: url("imagenes/cieloGolondrinas.jpg");
}

#wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 30px 25px 25px 30px;
  box-shadow: black 10px 10px 10px;
  text-align: justify;
}

#wrapper h1 {text-align: center;}
#wrapper p {text-align: justify;}