@font-face {
  font-family: itLives;
  src: url("fuentes/Shock Shimmy.ttf");
}

body {
  background-color: seashell;
  background-image: url("imagenes/casa encantada.jpg");
  background-size: cover;
}

main, .title, .subtitle, .content, .ventanaIzq, .esqueletos { position: relative; }

.title { padding-top: 2%; }

.title, .subtitle {
  text-align: center;
  font-size: 3em;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: blue;
  text-shadow: black -2px -2px, black -2px -2px, black -2px -2px, black -2px -2px;
}

h2 {
  font-family: fantasy;
  color: red;
}

.content, .ventanaIzq { width: 100%; }
.content { height: 80%; }

.ventanaIzq {
  /*border:2px solid white;*/
  height: 40%;
}

.ventanaDerecha {
  position: absolute;
  width: 70px;
  height: 65px;
  left: 1440px;
  top: 350px;
  cursor: pointer;
  border: 1px solid red;
}

/*.subtitle {
  position: relative;
  padding-bottom: 500px;
  text-align: right;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
}*/

.esqueletos {
  margin: 10%;
  visibility: hidden;
  cursor: pointer;
  width: 20%;
}