body {
  background-color: rgb(255, 245, 238); /* Color: seashell; */
  background-image: url("img/house.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: itLives;
  src: url("fonts/Shock Shimmy.ttf");
}

main {
  width: 95%;
}

section:first-child h1, section:first-child  h2, section:nth-child(2), section:nth-child(2) .ventanaIzq, section:nth-child(2) .ventanaIzq .esqueletos {
  position: relative;
}

section:first-child h1 { padding-top: 2%; }

section:first-child h1, section:first-child h2 {
  text-align: center;
  font-size: 3em;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(0, 0, 255);
  text-shadow: rgb(0, 0, 0) -2px -2px, rgb(0, 0, 0) -2px -2px, rgb(0, 0, 0) -2px -2px, rgb(0, 0, 0) -2px -2px;
}

h2 {
  font-family: fantasy;
  color: rgb(255, 0, 0);
}

section:nth-child(2), .ventanaIzq { width: 100%; }

section:nth-child(2) { height: 80%; }

section:nth-child(2) .ventanaIzq {
  height: 40%;
  right: -100px;
  top: 200px;
}

section:nth-child(2) .ventanaDerecha {
  width: 70px;
  height: 80px;
  left: 1430px;
  top: 260px;
  border: 1px solid rgb(255, 0, 0); /* Width, style and color */
}

section:nth-child(2) .ventanaDerecha, section:nth-child(2) .ventanaIzq .esqueletos {
  position: absolute;
  cursor: pointer;
}

section:nth-child(2) .ventanaIzq .esqueletos {
  visibility: hidden;
  width: 20%;
}