body {
  margin: 0; /* Top, right, bottom and left */
  font-family: 'Source Sans Pro', sans-serif;
}

header, img, .botones { position: relative; }

header img {
  width: 100%;
  height: 500px;
}

nav {
  font-size: 2vw;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0; /* Top, right, bottom and left */
  padding: 0; /* Top, right, bottom and left */
  list-style-type: none;
  background-color: rgb(255, 69, 0);
}

nav ul li {
  display: inline-block;
  padding: 15px; /* Top, right, bottom and left */
}

nav ul li a { color: rgb(0, 0, 0); }

a:link, a:visited, a:active { text-decoration:none; }

nav ul li a:active {
  background-color: rgb(253, 120, 71);
  color: rgb(138, 43, 226);
  padding: 15px; /* Top, right, bottom and left */
}

nav ul li a:hover { color: rgb(255, 255, 255); }

main { background-color: rgb(255, 255, 255); }

main h2 {
  text-align: center;
  font-size: 5vw;
  margin-top: 50px;
}

h2 { color: rgb(0, 0, 255); }

.polaroid {
  float: left;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border: 3px dashed black;
  box-shadow: 0 4px 8px 0 rgba(92, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px 5%; /* Top and bottom | Right and left */
  border-radius: 5%;
  cursor: pointer;
}

.polaroid img {
  width: 100%;
  border-radius: 5%;
}

.polaroid:hover { opacity: 0.5; }

.polaroid p {
  text-align: center;
  padding: 20px 0px; /* Top and bottom | Right and left */
}

.fin-float { clear: both; }

footer {
  background-color: rgb(128, 127, 127);
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  padding: 20px; /* Top, right, bottom and left */
}

i {
  padding: 10px 15px; /* Top and bottom | Right and left */
  font-size: 36px;
}

/* Slide Show styles */
.gallery {
  border: 1px solid #ccc;
  margin: 5% 40% 0% 40%; /* Top | Right | Bottom | left */
  display: none;
  overflow: hidden;
  height: 30vh;
}

.gallery:hover { border: 1px solid #777; }

img {
  width: 100%;
  height: 25vh;
}

#imagen1 { display: block; }

.img1 { animation: izquierdaDerecha 2s; }

.img2 { animation: derechaIzquierda 2s; }

.img3 { animation: arribaAbajo 2s forwards; }

.img4 { animation: abajoArriba 2s backwards; }

.img5 { animation: transparencia 2s; }

.img6 { animation: smallBig 2s; }

.img7 { animation: bigSmall 2s; }

.desc, .botones { text-align: center; } 

.desc {
  padding: 15px;
  height: 150px;
}

.botones { margin-top: 5%; } /* Top, right, bottom and left */

.formImg { display: none; }

@keyframes izquierdaDerecha {

  0% { left: -100%; }

  100% { left: 0%; }
}

@keyframes derechaIzquierda {

  0% { left: 100%; }

  100% { left: 0%; }
}

@keyframes arribaAbajo {

  0% { top: -100%; }

  100% { top: 0%; }
}

@keyframes abajoArriba {

  0% { top: 100%; }

  100% { top: 0%; }
}

@keyframes transparencia {

  0% { opacity: 0; }

  50% { opacity: 0.5; }

  100% { opacity: 1; }
}

@keyframes smallBig {

  0% { transform: scale(0.1); }

  50% { transform: scale(0.5); }

  100% { transform: scale(1); }
}

@keyframes bigSmall {

  0% { transform: scale(1); }

  50% { transform: scale(0.5); }

  100% { transform: scale(0.1); }
}

@media only screen and (max-width: 500px) {

  div .polaroid { width: 90%; }
}

/* LocalStorage and cookies styles */
aside header {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-decoration: 5px underline dotted rgb(255, 0, 0);
  text-align: center;
  color: rgb(0, 0, 255);
}

aside form {
  border: 2px solid black;
  padding: 0px 20px; /* Top and bottom | Right and left */
}

aside h1, aside form { margin: 20px 30%; } /* Top and bottom | Right and left */

aside header, #guardar { margin: 20px 0px; } /* Top and bottom | Right and left */

.columna {
  background-color: lightgrey;
  font-style: italic;
  text-decoration: 3px underline dotted rgb(255, 0, 0);
  cursor: pointer;
}

aside td { font-size: 20px; }