body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 90%;
  margin: auto;
}

header {
  background-image: url("img/header.jpg");
  background-size: cover;
  background-position: right;
  height: 400px;
  position:relative;
}

header span {
  color: rgb(255, 255, 255);
  display: none;
  font-size: 40px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(238, 169, 97);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px; /* Top | Right | Bottom | Left */
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {color: rgb(253, 219, 224);}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav {
  font-size:2vw;
  position: sticky;
  background-color:black;
}

nav ul {
  margin: 0; /* Top, right, bottom, left */
  padding: 1vw; /* Top, right, bottom, left */
}

nav ul li {
  display: inline;
  padding: 1vw; /* Top, right, bottom, left */
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5vw;
  color:white;
  font-weight:bold;
}

nav ul li a:hover {color: rgb(238, 169, 97);}

section h1 {
  color:pink;
  text-align: center;
  font-size: 2vw;
  margin: 0; /* Top, right, bottom, left */
  padding: 2vw; /* Top, right, bottom, left */
}

section table tr td img {
  width: 20vw;
  margin: 1vw 4vw; /* Top and bottom | Right and left */
}

.overlay {
  position:block;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(195, 60, 20);
}

 .overlay:hover { opacity: 1; }

.text {
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#ordenador { display: block; }

#tablet, #movil { display: none; }

footer {
  background-color: rgb(46, 45, 45);
  color:white;
  font-size:1em;
  font-weight: bold;
  text-align: center;
  padding: 0.5vw;
}

@media only screen and (max-width:768px) {

  #ordenador { display: none; }

  #tablet {
    display: block;
    margin:0 auto;
  }

  section table tr td img {
    width:30vw;
    margin: 1vw 4vw;
  }

  header span, #inicio { display:block; }

  nav ul li a, #movil { display: none; }
}

@media only screen and (max-width:480px) {

  #ordenador, #tablet { display: none; }

  #movil { display: block; }

  section table tr td img {
    width:60vw;
    display: block;
    margin:0 auto;
  }

  header {
    background-image: url("img/header2.jpg");
    background-size: cover;
    background-position: right;
    height: 800px;
    position:relative;
  }
}